.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 20px;
}

nav {
    flex-grow: 1; 
    text-align: center; 
}

nav ul {
    display: inline-block; 
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    color: #737373;
    font-size: 22px;
    text-decoration: none;
    padding: 4px;
    border: 1px solid transparent;
}

nav ul li a:hover {
    color: black;
    border-color:black;
    background-color: white;
}

.signup button {
    width: 101px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #31A0FE; 
    color: white; 
    font-size: 16px; 
    cursor: pointer;
}

.signup button:hover {
    background-color: blue;
}


.main_page img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    opacity: 32%;
    border-radius: 10px;
    display: block;
}