.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 20px;
}

nav {
    flex-grow: 1; 
    text-align: center; 
}

nav ul {
    display: inline-block; 
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px; 
}

nav ul li a {
    color: #737373;
    font-size: 22px;
    text-decoration: none;
    padding: 12px;
    border: 1px solid transparent;
}

nav ul li a:hover {
    color: black;
    border-color:black;
    background-color: white;
}

.signup button {
    width: 101px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #31A0FE; 
    color: white; 
    font-size: 16px; 
    cursor: pointer;
}

.signup button:hover {
    background-color: blue;
}


.main_image {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
}

.animate-charcter {
    text-align: left;
    margin-top: -800px;
    font-size: 48px;
    margin-left: 150px;
    color: #000000;
    z-index: 6;
    position: absolute;
    font-family: "Cabin", sans-serif;
    font-weight: bolder;

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 69px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.market_btns{
    margin-left: 140px;
    margin-bottom: -800px;
    position: absolute;
}

.appstore_link{
    position: absolute;
    margin-top: -550px;
    margin-left: 200px;
}

.playmarket_link{
    position: absolute;
    margin-top: -550px;
    margin-left: 500px;
}

.mockup{
    position: relative;
}

.phone{
    margin-top: -950px;
    margin-left: 900px;
    position: absolute;
}

.avatar{
    margin-top: -600px;
    margin-left: 900px;
    position: absolute;
}

.first_cta{
    margin-top: -850px;
    margin-left: 750px;
    position: absolute;
}

.second_cta{
    margin-top: -620px;
    margin-left: 1100px;
    position: absolute;
}

.socials{
    position: relative;
    transition: transform 0.3s ease; /* Додаємо плавний перехід */
}

.socials img:hover {
    transform: scale(1.2); /* Збільшуємо масштаб при наведенні */
}

.social_box{
    margin-top: -200px;
    width: 300px;
    height: 100px;
    background-color: white;
    margin-left: 600px;
    border-radius: 20px;
}

.facebook{
    margin-top: -105px;
    margin-left: 620px;
    position: absolute;
}

.youtube{
    margin-top: -105px;
    margin-left: 720px;
    position: absolute;
}

.linkedin{
    margin-top: -105px;
    margin-left: 820px;
    position: absolute;
}

